.app-bloc-block {
    display: block;
}

.app-bloc-inline {
    display: inline;
}

.app-bloc-inline-block {
    width: 100px;
    height: 50px;
    background-color: darkgrey;
    display: inline-block;
    margin-bottom: 10px;
}

.app-double-column--left {
    display: inline-block;
    width: 40%;
    background-color: navajowhite;
}

.app-double-column--right {
    display: inline-block;
    width: 55%;
    background-color: paleturquoise;
    vertical-align: top;
}

.app-double-column__img {
    width: 150px;
    float: right;
}



/********* FLEXBOX *********/

.app-bloc-flexbox {
    background-color: grey;
    width: 50%;
    height: 500px;
    /* FLEXBOX */
    display: flex; /*Pour avoir notre container en tant que flexbox container*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-start;
}

.app-bloc-flexbox__item {
    width: 200px;
    background-color: red;
    border: 2px solid black;
    /* FLEXBOX */
    flex: 0 1 auto;
    align-self: auto;
}

.app-bloc-flexbox__item--justify {
    flex: 0 1 auto;
}