.app-button {
    width: 100px;
    text-align: center;
    color: #000000;
    font-size: 20px;
    border: 2px solid #000000;
    padding: 10px;
    animation: levitate-horizontal 3s infinite linear;
}

.app-button:hover {
    background-color: #747474;
    color: #ffffff;
    cursor: pointer;
    transition: ease-out 0.25s color, ease-out 0.25s background-color, ease-out 0.25s transform;
    transform: scale(1.5, 1.5);
}

.app-button:active {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: ease-out 0.25s background-color;
}

@keyframes levitate-horizontal {
    0% { 
        margin-left: 50px; 
        padding-top: 50px;
    }
    25% { margin-left: 0px; }
    50% { margin-left: 50px; }
    75% { margin-left: 100px; }
    100% { 
        margin-left: 50px;
    }
}

