.app-button {
    position: relative;
    width: 200px;
    height: 60px;
    background-color: #fd3d00;
    border-radius: 35px;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}

.app-button--blue {
    background-color: #2b89f5;
}

.app-button--green {
    background-color: #168001;
}

.app-button__gradient {
    position: absolute;
    width: 180px;
    height: 52px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.5) 5%, rgba(0,212,255,0) 50%);
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 30px;
}

.app-button__text {
    position: absolute;
    width: 200px;
    height: 60px;
    padding-top: 16px;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
}

.app-button__border-bottom {
    position: absolute;
    width: 192px;
    height: 52px;
    border-bottom: 2px solid #ffffff;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 30px;
}